@import "../modules/base";

//
// Base Font
$base-font-family: Avenir-Pro-Light;
$base-font-weight: $regular;
$base-font-size: $fontRegular;
$base-line-height: $baseLineHeight;

//
// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

//
// Headings
$header-font-weight: $bold;
