//
//  Application Theme colors
$app-primary-color: #ffffff;
$app-secondary-color: #ffffff;
$app-tertiary-color: #ffffff;
$app-quaternary-color: #ffffff;
$app-quinary-color: #ffffff;
$app-senary-color: #ffffff;
$app-septenary-color:#ffffff;
$app-octonary-color: #ffffff;
$app-nonary-color: #ffffff;

//
//  Status colors
$app-info-color: #2b9dff;
$app-success-color: #63c326;
$app-danger-color: #d9534f;
$app-warning-color: #ff9800;
